.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.default-button {
  background: #282A35;
  color: #ffffff;
  border: 1px solid #90A1B9;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  grid-column: 1 / -1;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
}

.default-button:hover {
  border-color: #ffffff;
}

.action-button {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s ease;
  color: #fff;
}

.action-button:hover {
  border-color: #90A1B9;
}